<h1>Swift Managed Technology</h1>

<h4>Key Skills: PHP, MVC, SQL Server, MySQL, ORM, Backbase, JavaScript, Smarty</h4>

<p><b>August 2014 - October 2014</b></p>

<p>
    Filling a gap in the business I was primarily responsible for extending existing data import and export processes (primarily creating XML output and defining appropriate XSDs), in Swift MT’s main product - Context (a warehouse management application).
</p>

<p>
    The application is built on an in-house MVC PHP framework with in-house ORM, SQL Server database, Backbase framework (for front end components) and Smarty for templating.
</p>

<p>
    Challenges included working with a novel MVC framework and ORM and Backbase, which is not very common (defining front end interaction in XML and XPath rather than JavaScript), as well as integrating with IBM Websphere MQ to provide data interchange to and from Context and client’s other systems.
</p>

<p>
    In my position I was senior to 3 junior developers and would provide support as required.
</p>

<p>
    I also worked on another product, Swift QB, providing assistance with front-end JQuery components as well as back-end PHP and MySQL work to extend functionality within the system to allow users to define a hierarchical folder structure which was previously nonhierarchical.
</p>