<h1>
    Current Projects
</h1>
<h4>
    Eye On MOGS website re-engineering
</h4>
<p>
    <b>
    October 2014 - Present<br/>
    Key skills: Symfony 2, Doctrine 2, Angular JS, LESS, Responsive Design
    </b>
</p>
<p>
    While between contracts I'm reworking an old website of mine using Symfony 2, Doctrine 2, Twig, Angular JS, Bootstrap, LESS and responsive design principles.
</p>
<p>
    The site is not complete, but you can access a workable version at <a href="http://www.eyeonmogs.com" target="_blank">http://www.eyeonmogs.com</a>, with password "l3tm31nXyZ!". I will be continuing to develop the
    site and flesh out the data it contains.
</p>