<div id="content">
    <h1>About Me</h1>
    <p>
        Hi, I'm Mike, a contract web developer focused primarily on PHP and JavaScript based in Bristol, UK.
    </p>
    <p>
        I've been working as a PHP developer for the past 10 years and was with my most recent employer for 7 before deciding to make the change to contracting.
    </p>
    <p>
        Being part of small teams throughout my career I have happily had the opportunity to work as a full-stack developer as well as face-to-face with stakeholders to gather and analyse requirements
        before developing and delivering these to a production environment and providing any ongoing support necessary.
    </p>
    <hr/>
    <p>
        I'm passionate about technology, in particular the web and mobile, and believe that with the right idea and enough determiniation you really can code everything ;)
    </p>
    <p>
        For those looking for a contractor to help on web based projects this site will showcase my work, but on a personal level is a space for me to muse on and explore new technologies and ideas.
    </p>
    <p>
       If you have a PHP contract role you would like to discuss please drop me an email.
    </p>

</div>

