<div id="content">
    <h1>Key skills</h1>

    <h3>PHP</h3>

    <p>
        I've worked with PHP in commercial environments for the last 10 years, primarily with clients in the financial services industry, delivering 
        enhancements to CRM systems used by individuals and companies, as well as bespoke solutions for banks and lenders.
    </p>

    <h3>JavaScript</h3>

    <p>
        My work with PHP based web applications, along with small team sizes, has meant I have had significant exposure to JavaScript over the last 10 years.
    </p>

    <p>
        I've also used this
        outside of my day to day positions to experiment with an <a href="#/projects/canvaside">HTML Canvas based IDE</a> and an <a href="#/projects/canvasinvaders">HTML Canvas based vertical scrolling shooter</a>.
    </p>

    <h3>OOP</h3>

    <p>
        Throughout my career I have worked with the OOP principles I first acquired using Java as part of my degree.
    </p>

    <h3>MVC</h3>

    <p>
        The systems in both my most recent posts were based on in-house PHP MVC frameworks which had similar structures to more generally used frameworks such as
        Symfony 2, Laravel or Zend.
    </p>

    <p>I have more recently been using Symfony 2 and Angular JS on my own projects
    (for example <a href="#/projects/eyeonmogs">Eye On MOGS</a> and <a href="#/projects/codeeverything">this site</a>).</p>

    <h3>JQuery</h3>

    <p>
        In my last full time position, JQuery was our front-end library of choice and was at the core of front-end interaction and provided a bridge with the back-end via AJAX calls.
    </p>

    <h3>HTML</h3>

    <p>
        With no front-end designers on any team I have worked in, I have significant exposure to HTML and am keen to explore what is becoming available with HTML 5.
    </p>

    <h3>CSS</h3>

    <p>
        As with HTML I have had significant exposure with CSS over the years and am exploring some of the newer additions in CSS3 in my own projects.
    </p>

    <h3>WAMP Stack</h3>

    <p>
        Every business I have worked with has run a WAMP stack in preference to LAMP (which probably puts them in the minority!). However, in my own developments I am moving away from this
        and exploring a setup using Vagrant to provide a LAMP stack and using tools such as Composer, Bower and Puppet.
    </p>

    <p>&nbsp;</p>
</div>

