<h1>HTML Canvas IDE</h1>

<p>
    Key skills: JavaScript, HTML Canvas
</p>

<h4>Summary</h4>
<p>
    Inspired by <a href="https://mozillalabs.com/en-US/skywriter/" target="_blank">Mozilla's Bespin</a> project I wanted to try and build an IDE within the browser using the Canvas element.
</p>
<p>
    Since the HTML Canvas element is a drawing surface, i.e. an image, this brought with it a list of interesting things to think about including editing of text,
    rendering of text, syntax highlighting of code, coords -> character position mapping and selection handling.
</p>
<p>
    Please note: This is an old project and is far from complete. I have tested in Chrome 38 and it seems stable, but it is not assured.
</p>

<p>
    <a href="project_resources/clowd/testSyntaxNew.html" target="_BLANK">Launch "Canvas IDE"</a>
</p>
