<h1>HTML Canvas "Space Invaders"</h1>

<p>
    Key skills: JavaScript, HTML Canvas
</p>

<h4>Summary</h4>
<p>
    This was a fun little project to work with the HTML canvas element more, in particular to work on animations and user interaction.
    A space invaders inspired vertical scrolling shooter of the like from my youth seemed like a fun way to go that!
</p>

<p>
    Controls:
    <ul class="list-no-bullets">

        <li>M - Mute music</li>
        <li>P - Pause</li>
        <li>Arrow keys - Move</li>
        <li>Space - Fire!</li>
    </ul>
</p>

<p>
    <a href="project_resources/canvasinvaders" target="_BLANK">Launch "Canvas Invaders"</a>
</p>
