<h1>CodeEverything.com</h1>

<p>
    Key skills: Angular JS, MVC, SPA, HTML, CSS
</p>

<h4>Summary</h4>
<p>
    CodeEverything.com is my place of the web, but also an opportunity for me to work with new technologies.
</p>
<p>
    As such I've designed CodeEverything as a Single Page Application (SPA), using Angular JS as my front-end framework of choice.
</p>

<h4>In Detail</h4>

<p>
    CodeEverything is a simple SPA, in fact it's probably a bit of a stretch to call it an "application" at all (at the time of writing at least).
    I'm using Angular JS, in this specific context, for the routing it provides.
</p>